<!DOCTYPE html>
<html>
<head>
    <title>Arwildo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="nav">
        <div class="contactMe">
            <a href="#"><img src="static/Chat_Blue.png" alt="Chat Logo">Contact Me</a>
        </div>
        <div class="navIcons">
            <a href="#"><img src="static/Youtube_Gray.png" alt="Youtube Logo"></a>
            <a href="#"><img src="static/Dribbble_Gray.png" alt="Dribbble Logo"></a>
            <a href="#"><img src="static/Github_Gray.png" alt="Github Logo"></a>
        </div>
    </div>

    <div class="landing">
        <div class="landingWrapper">
            <div class="landingL">
                <h1>Arwildo Belekubun.</h1>
                <p>Hello, my name is Arwildo. <br> I like to train 
                    <span class="blue">Deep Neural Nets</span>
                    on large datasets &amp; I like to build a <span class="blue">Web App</span>.
                </p>
                <ul>
                    <li><p>Data Science</p></li>
                    <li><p>Machine Learning</p></li>
                    <li><p>Web Design</p></li>
                    <li><p>UI/UX</p></li>
                </ul>
            </div>
            <div class="landingR">
                <img src="static/Profile.png" alt="Arwildo Belekubun Pic" width="300px">
            </div>
        </div>
        <img src="static/Scroll.png" alt="scroll down" class="scroll">
    </div>

    <div class="skills">
        <h2>Skills</h2>
        <p>Over 7 years of design experience using <br> these programs.</p>
        <div class="programs">
            <img src="static/Xd.png" alt="Xd icon">
            <img src="static/Ps.png" alt="Ps icon">
            <img src="static/Ai.png" alt="Ai icon">
            <img src="static/Ae.png" alt="Ae icon">
        </div>
    </div>

    <div class="work clearfix">
        <div class="workText">
            <h1>Fashion Classification</h1>
            <a href="#"><h5>View Project</h5></a>
            <div class="underline"></div>
        </div>
        <ul>
            <li><a href="#"><img src="static/Dribbble_Black.png" 
                alt="Dribbble icon"></a></li>
            <li><a href="#"><img src="static/Be_Black.png" 
                alt="Be icon"></a></li>
            <li><a href="#"><img src="static/Youtube_Black.png" 
                alt="Youtube icon"></a></li>
        </ul>
        <img src="static/Project_01.png" alt="Project image" 
            class="working">
    </div>

</body>
</html>